@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .project-card {
    @apply relative overflow-hidden rounded-xl border border-gray-300 bg-gray-100 transition-all duration-300 hover:border-gray-400 hover:shadow-lg dark:border-gray-800 dark:bg-gray-900;
  }
  .filter-pill {
    @apply flex h-9 items-center justify-center gap-1.5 rounded-full font-medium px-4;
  }
}

body {
  background: #111111;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}