@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .project-card {
    @apply rounded-xl overflow-hidden border border-gray-300 hover:border-gray-400 transition-colors duration-200;
  }
}

body {
  background: #111111;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}